body {
	text-align: center;
	margin: 0;
}

h1, a, h2, h4 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
}

h1, h2 {
	color: #0D2C40
}

a, h2 {
	font-weight: 600;
}

h1 {
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

a {
	color: #FFFFFF;
	font-size: 18px;
	text-decoration: none;
	padding: 0 20px;
	border-bottom: 2px solid transparent;
}

.contactname {
	padding: 0;
	color: #F15B31;
}

h2 {
	font-size: 20px;
}

h4 {
	padding-top: 10px;
	margin: 0;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	padding: 40px 8px;
}

footer {
	background-color: #0D2C40;
	padding: 10px 20px 20px 20px;
	text-transform: uppercase;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

a:hover {
  /* Your styles here */
  border-color: white;
}

#instruct {

}

#game {
	
}